<h1><%= @list.name %></h1>
<% @list.movies.each do |movie| %>
<%= movie.title %>
<%= link_to "Remove", bookmark_path(movie), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to 'My lists', root_path %>
<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
